html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-image: url("../public/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
